# **Varible**

In [3]:
nama = 'Sasuke'
umur = '25'

In [2]:
nama

'Sasuke'

In [3]:
type(nama)

str

In [4]:
umur

'25'

In [5]:
type(umur)

str

In [6]:
umur = 25

In [7]:
type(umur)

int

In [8]:
jomblo = True

In [9]:
type(jomblo)

bool

### Case 1

Buat sebuah variable `nama` dan `NRP` teman-teman lalu panggil di dalam jupyter-notebook!

In [4]:
NamaMahasiswa = 'Muhammad Raihan De'
NomorIndukMahasiswa = 201440004
Kel = 'Instrumen_4A'

In [5]:
NamaMahasiswa

'Muhammad Raihan De'

In [12]:
type(NamaMahasiswa)

str

In [6]:
NomorIndukMahasiswa

201440004

In [14]:
type(NomorIndukMahasiswa)

int

In [15]:
Kel

'Instrumen_4A'

In [16]:
type(Kel)

str

In [7]:
print(f'Nama : "{NamaMahasiswa}"')
print(f"NIM  : {NomorIndukMahasiswa}")
print(f"Kelas: '{Kel}'")

Nama : "Muhammad Raihan De"
NIM  : 201440004
Kelas: 'Instrumen_4A'

### Case 2

Konversi program untuk memanggil variable `name` dan `NRP` yang sudah dibuat dalam jupyter-notebook ke file python atau `*.py` dengan nama file `variable.py`!

# **Arithmetic Operation**

In [18]:
a = 10
b = 5

a + b

15

In [19]:
c = a + b

In [20]:
c

15

##Incerment

In [21]:
c = c + 1

In [22]:
c

16

In [23]:
c += 5

In [24]:
c

21

##Decerment

In [25]:
c -= 5

In [26]:
c

16

In [27]:
e = 40
f = 20

print(e * f)
print(e / f)
print(e + f)
print(e - f)
print(e % f)
print(e ** 2)

800
2.0
60
20
0
1600

In [28]:
e % f ##Haasil Bagi

0

### Case 3

Konversi perhitungan **Luas** dan **Keliling** balok menjadi sebuah program yang berjalan di jupyter-notebook!

![title](https://rumusrumus.com/wp-content/uploads/2015/05/jawaban-soal-matematika-balok.png)

##Luas

In [2]:
Panjang = 500
Lebar = 5
Tinggi = 10

Luas = 2 * ((Panjang*Lebar) + (Panjang*Tinggi) + (Lebar*Tinggi))
print(f"Luas Balok = {Luas} cm^2")

Luas Balok = 15100 cm^2

##Volume

In [30]:
Volume = Panjang * Lebar * Tinggi
print(f"Volume Balok = {Volume} cm^3")

Volume Balok = 25000 cm^3

##Keliling

In [31]:
Keliling = 4 * (Panjang + Lebar + Tinggi)
print(f"Keliling Balok = {Keliling} cm")

Keliling Balok = 2060 cm

### Case 4

Konversi perhitungan luas dan keliling yang sebelumnya berjalan di jupyter-notebook menjadi sebuah file python atau `*.py` dengan nama masing-masing file `volume.py` dan `keliling.py`!

# **Tuple**

In [32]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print("Print all tuple1: ", tup1)
print("Print all tuple2: ", tup2)
print("Print tuple1 element-0: ", tup1[0])
print("Print tuple1 element-1 until 5: ", tup2[1:5])
print("Join two tuple: ", tup1 + tup2)

Print all tuple1:  ('physics', 'chemistry', 1997, 2000)
Print all tuple2:  (1, 2, 3, 4, 5, 6, 7)
Print tuple1 element-0:  physics
Print tuple1 element-1 until 5:  (2, 3, 4, 5)
Join two tuple:  ('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7)

In [33]:
tup1[1:4]

('chemistry', 1997, 2000)

In [34]:
len(tup2)

7

# **List**

In [35]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]

print("Print all list: ", list1)
print("Print list element-0: ", list1[0])
print("Print list element-1: ", list1[1])
print("Print list element-1 until 3: ", list1[1:3])
print("Print list element-1 until 4: ",list1[1:4])
print("Print list element-2 until end: ",list1[2:])
print("Print list twice: ",list2 * 2)
print("Join two list: ", list1 + list2, "\n")

Print all list:  ['physics', 'chemistry', 1997, 2000]
Print list element-0:  physics
Print list element-1:  chemistry
Print list element-1 until 3:  ['chemistry', 1997]
Print list element-1 until 4:  ['chemistry', 1997, 2000]
Print list element-2 until end:  [1997, 2000]
Print list twice:  [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]
Join two list:  ['physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5, 6, 7]

In [36]:
list2[2:7]

[3, 4, 5, 6, 7]

In [37]:
print("print list element-1 until 4 :", list1[1:len(list1)])

print list element-1 until 4 : ['chemistry', 1997, 2000]

### Case 5

Uncomment cell dibawah ini lalu kemudian eksekusi dan amati perbedaanya!

List:

In [38]:
list1

['physics', 'chemistry', 1997, 2000]

In [39]:
list1[1] = 'math'

In [40]:
list1[1]

'math'

In [41]:
list1

['physics', 'math', 1997, 2000]

Tupple:

In [42]:
tup1

('physics', 'chemistry', 1997, 2000)

In [43]:
tup1[1]

'chemistry'

In [44]:
#tup1[1] = 'math'

In [45]:
tup1[1]

'chemistry'

In [46]:
tup1

('physics', 'chemistry', 1997, 2000)

Simpulkan dan jawab pada sel dibawah ya! dan jangan lupa cell dibawah diganti ke format MD atau Markdown.

Tipe Data **Tuple** bersifat *immutable* dan *ordered* berbeda dengan Tipe Data **List** yang bersifat *Mutable* dan *Ordered* dengan artian bahwa kedua tipe data tersebut sama-sama dapat diakses via indeks namun perbedaaannya adalah Tipe Data **Tuple** tidak dapat di edit atau merubah element lama menjadi element baru seperti yang dapat dilakukan oleh Tipe Data **List**

# **String**

In [47]:
g = 'Sasuke pergi ke pasar'

print(len(g))
print(g.split(' '))
print(g.lower())
print(g.upper())

21
['Sasuke', 'pergi', 'ke', 'pasar']
sasuke pergi ke pasar
SASUKE PERGI KE PASAR

### Case 6

Buat sebuah variable yang berisi string perkenalan nama dan umur, misal:

"Halo.. Nama saya sasuke, saya berusia 17 tahun!"

Print variable tersebut dan split menjadi sebuah list kemudian print juga yang versi List!

In [9]:
Me = 'Hallo Gaes.. Nama saya Raihan, usia saya sekarang beranjak ke 22 Tahun'

print(len(Me))
print(Me.split(' '))
print(Me.split(','))

70
['Hallo', 'Gaes..', 'Nama', 'saya', 'Raihan,', 'usia', 'saya', 'sekarang', 'beranjak', 'ke', '22', 'Tahun']
['Hallo Gaes.. Nama saya Raihan', ' usia saya sekarang beranjak ke 22 Tahun']

In [10]:
print(len(Me.split(' ')))
print(len(Me.split(',')))
print(Me.split(' ')[0])
print(Me.split(' ')[2:5])
print(Me.split(',')[1])

12
2
Hallo
['Nama', 'saya', 'Raihan,']
 usia saya sekarang beranjak ke 22 Tahun

In [11]:
type(Me.split(' ')[2:5])

list

In [12]:
type(Me.split(',')[1])

str

### **Convert String to Number**

In [13]:
h = '25'
i = int(h)

print(type(h))
print(i)
print(type(i))

<class 'str'>
25
<class 'int'>

### Case 7

Convert umur dalam List yang sebelumnya dibuat dan tersimpan dalam **Case 6** menjadi sebuah integer!

In [15]:
Me = 'Hallo Guys.. Nama saya Raihan, usia saya sekarang beranjak ke 22 Tahun'
Saya = Me.split(' ')
print(Saya)
print(Saya[10])

['Hallo', 'Guys..', 'Nama', 'saya', 'Raihan,', 'usia', 'saya', 'sekarang', 'beranjak', 'ke', '22', 'Tahun']
22

In [16]:
type(Saya[10])

str

In [55]:
Saya[10] = int(Saya[10])

In [56]:
type(Saya[10])

int

### Case 8

Convert **Case 6** dan **Case 7** menjadi sebuah program python dengan nama `list_string.py`!

# **Math Module**

In [57]:
import math

print(round(6.4))
print(round(6.8))
print(math.floor(6.8))
print(math.ceil(6.8))

6
7
6
7

### Case 9

![title](https://akupintar.id/documents/portlet_file_entry/20143/2+%284%29.png/d8907cd9-a23e-b777-4594-f3355af498cb?imagePreview=1)

Konversi perhitungan pytagoras berikut menjadi sebuah program yang berjalan di jupyter-notebook dan convert menjadi sebuah program python dengan extension `*.py` dengan nama `math_module_example`!

In [58]:
Panjang_AB = 12
Panjang_BC = 5
Panjang_AC = Panjang_AB**2 + Panjang_BC**2
Panjang_AC

169

In [59]:
import math
Panjang_Garis_AC = math.sqrt(Panjang_AC)
print(f"Panjang Garis A ke C = {Panjang_Garis_AC} cm")

Panjang Garis A ke C = 13.0 cm

# **Dictionary**

+ jumlahnya 1: `{'key': value}`
+ jumlahnya lebih dari 1: `{'key1': value1, 'key2': value2, 'key3': {'key3.1': value31, 'key3.2': value32}}`

In [60]:
dict1 = {}
dict1['one'] = "This is one"
dict1[2] = "This is two"
tinydict = {'name': 'john','code':6734, 'dept': {'pos': 'sales', 'pos': 'engineering'}}

print("Print dictionary on dict1['one']: ", dict1['one'])
print("Print dictionary on dict1[2]: ",dict1[2])
print("Print dictionary on dict1: ", dict1)
print("Print dictionary on tinydict: ", tinydict)
print("Print tinydict dictionary keys: ", tinydict.keys())
print("Print tinydict dictionary values: ", tinydict.values(), "\n")

Print dictionary on dict1['one']:  This is one
Print dictionary on dict1[2]:  This is two
Print dictionary on dict1:  {'one': 'This is one', 2: 'This is two'}
Print dictionary on tinydict:  {'name': 'john', 'code': 6734, 'dept': {'pos': 'engineering'}}
Print tinydict dictionary keys:  dict_keys(['name', 'code', 'dept'])
Print tinydict dictionary values:  dict_values(['john', 6734, {'pos': 'engineering'}])

In [61]:
dict1

{'one': 'This is one', 2: 'This is two'}

In [62]:
tinydict

{'name': 'john', 'code': 6734, 'dept': {'pos': 'engineering'}}

### Case 10

Buat sebuah data diri teman-teman ke sebuah dictionary dan print di jupyter notebook, Contoh:

```
{
    'nama': 'sasuke uchiha',
    'nim': 2221100025,
}
```

In [17]:
mydict = {'Name' :'Raihan','NIM' :'201440004'}
mydict

{'Name': 'Raihan', 'NIM': '201440004'}

Lakukan penambahan key dan value dengan urutan sebagai berikut:
+ `'alamat': 'jl. Madara no. 10, Konohagakure, Hi no Kuni'`
+ `'usia': 17`

In [19]:
mydict = {'Name' :'Raihan','NIM' :'201440004','Address' :'Jl.Ngareng No.8, Kecamatan Cepu, Blora, Jateng, Indonesia','Age' :'21'}
mydict

{'Name': 'Raihan',
 'NIM': '201440004',
 'Address': 'Jl.Ngareng No.8, Kecamatan Cepu, Blora, Jateng, Indonesia',
 'Age': '21'}

Lakukan penggantian setiap value sesuai dengan data diri masing2!