# **Logic**

In [1]:
nama = 'Sasuke'
umur = 10
jomblo = False

#### If

In [2]:
if jomblo == True:
    print("Sasuke jomblo")

In [3]:
if jomblo:
    print("Sasuke jomblo")

In [4]:
if not jomblo:
    print("Sasuke jomblo")

Sasuke jomblo

#### If Else

In [5]:
if jomblo == True:
    print("Sasuke jomblo")
else:
    print("Sasuke tidak jomblo")

Sasuke tidak jomblo

In [6]:
if jomblo:
    print("Sasuke jomblo")
else:
    print("Sasuke tidak jomblo")

Sasuke tidak jomblo

In [7]:
if not jomblo:
    print("Sasuke jomblo")
else:
    print("Sasuke tidak jomblo")

Sasuke jomblo

#### And

+ 1 & 1 = True
+ 1 & 0 = False
+ 0 & 1 = False
+ 0 & 0 = False

In [8]:
if umur > 17:
    print("Sasuke Dewasa")
elif umur > 14 and umur < 17:
    print("Sasuke Remaja")
else:
    print("Sasuke Kecil")

Sasuke Kecil

#### Or

+ 1 & 1 = True
+ 1 & 0 = True
+ 0 & 1 = True
+ 0 & 0 = False

In [9]:
if umur > 17:
    print("Sasuke Dewasa")
elif umur > 14 or umur < 17:
    print("Sasuke Remaja")
else:
    print("Sasuke Kecil")

Sasuke Remaja

In [10]:
buah = ["nanas", "apel", "pepaya", "manggis"]

if buah[1] == "manggis":
    print("True")
else:
    print("False")

False

In [11]:
buah = ["nanas", "apel", "pepaya", "manggis"]

if buah[1] == "apel" and buah[3] == "manggis":
    print("True")
else:
    print("False")

True

In [12]:
buah = ["nanas", "apel", "pepaya", "manggis"]

if buah[1] == "apel" and not buah[3] == "manggis":
    print("True")
else:
    print("False")

False

In [13]:
buah = ["nanas", "apel", "pepaya", "manggis"]

if buah[1] == "apel" and not buah[2] == "manggis":
    print("True")
else:
    print("False")

True

In [14]:
buah = ["nanas", "apel", "pepaya", "manggis"]

if buah[1] == "apel" or buah[2] == "manggis":
    print("True")
else:
    print("False")

True

### Case 11

Buat sebuah program diskon dalam jupyter-notebook, jika kita order makanan dari Aplikasi dengan pesanan melebihi dari 100.000 maka diskonnya adalah 50% dengan maksimum diskon 50.000. Jika pesanan kurang dari sama dengan 75.000 maka diskonnya adalah 30% dengan maksimum diskon 30.000, Jika pesanan kurang dari 30000 maka tidak ada diskon! Lanjutkan dengan konversi program tersebut menjadi sebuah program python atau `*.py` dengan nama `diskon.py` yang dapat menerima input dari terminal!

Note:
+ Baca input dari console atau terminal [https://www.geeksforgeeks.org/taking-input-from-console-in-python/](https://www.geeksforgeeks.org/taking-input-from-console-in-python/)

# **Loop atau Perulangan**

In [15]:
fruits = ["nanas", "pisang", "semangka", "apple"]

#### For

In [16]:
for fruit in fruits:
    print(fruit)

nanas
pisang
semangka
apple

In [17]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [18]:
for i, fruit in enumerate(fruits):
    print(f'{fruit} buah ke {i}')

nanas buah ke 0
pisang buah ke 1
semangka buah ke 2
apple buah ke 3

#### While

In [19]:
count = 0

while (count < 9):
   print('The count is:', count)
   count = count + 1

print("\nGood bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

Good bye!

### Break

In [20]:
for letter in 'Python':
    print("Current Letter :", letter)
    
    if letter == 'h':
        break

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h

In [21]:
var = 10

while var > 0:
    var = var - 1
    print("Current variable value :", var)
    
    if var == 5:
        break

Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 5

### Pass

In [22]:
for letter in 'Python':
    if letter == 'h':
        pass
        print('This is pass block')
        
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n

### Case 12

Buat program dengan masukan sebuah integer, misal `5` maka program tersebut mencetak pola sebagai berikut:

```
*
**
***
****
*****
****
***
**
*
```

Buat program tersebut di dalam jupyter-notebook! konversi juga menjadi sebuah file python dengan nama `star-triangle.py` yang dapat menerima masukan dari terminal!

# **Function**

### Void Function

In [23]:
def print_coba():
    a = 10
    b = 12
    print(a+b)

In [24]:
print_coba()

22

In [25]:
type(print_coba())

22

NoneType

### Function with Return value

In [26]:
def print_coba():
    a = 10
    b = 12
    return (a+b)

In [27]:
print_coba()

22

In [28]:
type(print_coba())

int

In [29]:
def perkalian(a, b):
    hasil_kali = a * b
    return hasil_kali

In [30]:
perkalian(10, 2)

20

In [31]:
a = 20
b = 30

perkalian(a, b)

600

In [32]:
def kali_bagi(a, b):
    hasil_kali = a * b
    hasil_bagi = a / b
    return hasil_kali, hasil_bagi

In [33]:
hasil_kali, hasil_bagi = kali_bagi(10, 2)

print(hasil_kali)
print(hasil_bagi)

20
5.0

In [34]:
f = 20

def coba_var(a, b):
    global c
    c = 10
    
    d = a + b + c + f
    
    return d

In [35]:
coba_var(10, 20)

60

In [36]:
c

10

In [37]:
f

20

In [38]:
# d

### Case 13

Konversi **Case 3** menjadi 3 buah fungsi yaitu `luas`, `volume`, dan `keliling` dengan menggunakan jupyter-notebook! Lalu konversi juga menjadi sebuah file python dengan nama `balok.py` yang mana program tersebut dapat input dari terminal kemudian hasinyanya di print dan ditampilkan di terminal!